@import url(background-color.css);

* {
  margin: 7px;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: row;
}

nav>ul {
  list-style-type: none;
}
nav>ul>li {
  display: inline;
}

.width-40 {
  width: 40%;
}
.width-60 {
  width: 60%;
}
.width-50 {
  width: 50%;
}
